<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Health module</title>
</head>
<body>
<form method="post" action="{%url 'eat_activity'%}">
    {% csrf_token %}
        <label for="date" >Date</label>
        <input type="date" name="date"></br>
         <label for="red_serving" ><b>red_serving</b></label>
         <input type="text"  name="red_serving" ><br>
         <label for="cream_serving" ><b>cream_serving's name</b></label>
         <input type="text"  name="cream_serving" ><br>
         <label for="yellow_serving" ><b>yellow_serving</b></label>
        <input type="text"  name="yellow_serving" ><br>
        <label for="kiwi_serving" ><b>kiwi_serving</b></label>
        <input type="text"  name="kiwi_serving" ><br>
        <label for="blue_serving" ><b>blue_serving</b></label>
        <input type="text"  name="blue_serving" ><br>
        <label for="green_serving" ><b>green_serving</b></label>
        <input type="text"  name="green_serving" ><br>
        <label for="comment" ><b>comment</b></label>
        <input type="text" name="comment" ><br>
        <label for="enjoy_regular">Enjoy_regular:</label>
        <select name="enjoy_regular" multiple="multiple">
            {% for x in food%}
            <option value="{{x.id}}"> {{x.name}}</option>
            {% endfor %}
        </select><br>
        <label for="eat_more">eat_more:</label>
        <select name="eat_more"  multiple>
            {% for x in food%}
            <option value="{{x.id}}"> {{x.name}}</option>
            {% endfor %}
        </select><br>
         <label for="eat_less">eat_less:</label>
        <select name="eat_less" multiple>
            {% for x in food%}
            <option value="{{x.id}}"> {{x.name}}</option>
            {% endfor %}
        </select><br>
        <label for="eat_avoid">eat_avoid:</label>
        <select name="eat_avoid" multiple>
            {% for x in food%}
            <option value="{{x.id}}"> {{x.name}}</option>
            {% endfor %}
        </select><br>
        <label for="tag">tag:</label>
        <select name="tag" multiple>
            {% for y in tag%}
            <option value="{{y.id}}"> {{y.name}}</option>
            {% endfor %}
        </select><br>
        <button type="submit">submit</button>

</form>
</body>
</html>