<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Health module</title>
</head>
<body>
<form>
         <label for="on_medication" ><b>on_medication</b></label>
         <input type="text"  name="on_medication" ><br>
         <label for="doctors_name" ><b>doctor's name</b></label>
         <input type="text"  name="doctors_name" ><br>
         <label for="prescrption" ><b>prescrption</b></label>
        <input type="file"  name="prescrption" ><br>
        <label for="had_surgery" ><b>had_surgery</b></label>
        <input type="text"  name="had_surgery" ><br>
        <label for="diabetes" ><b>diabetes</b></label>
        <input type="text"  name="diabetes" ><br>
        <label for="heart_issues" ><b>heart_issues</b></label>
        <input type="text"  name="heart_issues" ><br>
        <label for="mental_issue" ><b>mental_issue</b></label>
        <input type="text"  name="mental_issue" ><br>
        <label for="additonal_info" ><b>additonal_info</b></label>
        <input type="text"  name="additonal_info" ><br>
        <button type="submit">submit</button>





</form>
</body>
</html>