      <div id="popup1" class="overlay">
         <div class="popup">
            <p class="eatRainbow">Eat Rainbow</p>
            <form method="post" id="eat_form">
            <p class="date_on_popup">
               <img src="{% static 'assets/images/icons/arrow_left.png' %}" alt="arrow_left_icon" class="arrow_left">
                  <span class="popup_date">
                     {% csrf_token %}
                     <input type="date" name="eat_date" onchange="this.form.submit()" value="{{eat_date}}">
                  </span>
               <img src="{% static 'assets/images/icons/arrow_right.png' %}" alt="arrow_right_icon" class="arrow_right">
            </p>
            </form>
            <a class="close closeBtn" href="">&times;</a>
            <div class="content">
               <p style="clear: both;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam Lorem ipsum m <span class="read_more_btn">Read More</span></p>
               <p class="current_status">Current Status</p>
               <p class="serving">6/6 Servings
                  <img src="{% static 'assets/images/fruits/pineapple.png' %}" alt="pineapple_fruit_img" class="pineapple">
                  <img src="{% static 'assets/images/fruits/mango.png' %}" alt="mango_fruit_img" class="mango">
                  <img src="{% static 'assets/images/fruits/coconut.png' %}" alt="coconut_fruit_img" class="coconut">
                  <img src="{% static 'assets/images/fruits/apple.png' %}"  alt="apple_fruit_img" class="apple">
                  <img src="{% static 'assets/images/fruits/grapes.png' %}" alt="grapes_fruit_img" class="grapes">
                  <img src="{% static 'assets/images/fruits/orange.png' %}" alt="orange_fruit_img" class="orange">
               </p>
               <p class="add_new_servings">Add New Servings</p>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="number_2">{{eat_rainbow_object.red_serving}} </p>
                  <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">

               </div>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="number_1">{{eat_rainbow_object.cream_serving}}</p>
                  <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">
               </div>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="number_0">{{eat_rainbow_object.yellow_serving}}</p>
                  <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">
               </div>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="second_number_2">{{eat_rainbow_object.kiwi_serving}}</p>
                  <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">
               </div>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="second_number_0">{{eat_rainbow_object.blue_serving}}</p>
                 <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">
               </div>
               <div class="numbers_section">
                  <img src="{% static 'assets/images/icons/plus.png' %}" alt="plus_icon" class="plus">
                  <p class="third_number_0">{{eat_rainbow_object.green_serving}}</p>
                  <img src="{% static 'assets/images/icons/minus.png' %}" alt="minus_icon" class="minus">
               </div>
               <form class="popup_window_form">
                  <a href="#popup2"><input type="text" value="List of Personal Food" disabled class="disabled_input"></a>
                  <img src="{% static 'assets/images/icons/right_arrow.png' %}" alt="arrow" class="input_field_right_arrow">
                  <input type="text" value="Add comment here..." class="comment_area_field" readonly>
               </form>
               <div class="popup_buttons">
                  <button class="btn btn-primary login_meals_button">
                  <img src="{% static 'assets/images/icons/login_arrow.png' %}" alt="login_arrow" class="login_arrow">

                  Log In Meals
                  </button>
                  <a class="close" href="" style="opacity: 1;">
                  <button class="btn btn-primary save_changes">Save Changes</button>
                  </a>
               </div>
            </div>
         </div>
      </div>
